.user-workload-table {
  display: block !important;
  overflow: visible !important;
}

table.mat-elevation-z8 {
  width: 100% !important;
}

.mat-header-row, .mat-row {
  min-height: 48px !important;
}

.mat-cell, .mat-header-cell {
  padding: 8px !important;
}
