ion-buttons ion-button {
      margin-right: 20px; /* Adjust this value as needed */
      --border-radius: 8px;
}

.logo {
    margin-left: 1%;
}

.logo-img {
    width: 40px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    padding-top: 10px;
}

.ion-side-menu-button{
    padding-bottom: 2em;
  
}
.side-menu ion-item:first-child {
    padding-top: 2em; /* Additional padding for the top item */
}

ion-card-content {
    ion-grid {
    overflow-x: auto;
}
}

/* For non-funded cards */
.non-funded-card {
  width: 90vw; /* Adjust the percentage as needed */
  margin: auto;
  padding: 20px; /* Apply padding to all sides */
}

/* For funded cards */
.funded-card {
  width: 90vw; /* Adjust the percentage as needed */
  margin: auto; /* Center the card horizontally */ /* Use flexbox */
  padding: 20px; /* Apply padding to all sides */
}

.assessment{
  width: 90vw; /* Adjust the percentage as needed */
  margin: auto; /* Center the card horizontally */ /* Use flexbox */
  padding: 20px;
}


/* For the segment buttons */
ion-segment {
  display: flex;
  
}

/* For the segment content */
.segment-content {
  padding: 20px; /* Apply padding to all sides */
}

/* Center the ion-title within ion-card-header */


/* Adjust the ion-card-content */
ion-card-content {
  padding: 20px; /* Apply padding to all sides */
}

.inline-toolbar {
  --background: transparent;
  --border-width: 0;
  --padding-start: 0;
  --padding-end: 0;
  padding-top: 0;
  padding-bottom: 0;
  min-height: 0;
}

.incident-report-button {
  --background: #800080; /* Purple color */
  margin-left: 8px; /* Adds margin to the left of the button */
  margin-right: 8px; /* Adds margin to the right of the button */
  width: max-content;
}

.ion-segment-button{
 margin: auto;
}

/* Targeting .ion-page class */
.ion-page {
  display: block; /* or whatever the default display value should be */
}

/* Alternatively, targeting #main-content id */
#main-content {
  display: block; /* or whatever the default display value should be */
}
