<mat-card class="case-details-card-saps">

  <button mat-icon-button mat-dialog-close class="close-button">
      <mat-icon>close</mat-icon>
  </button>

  <h2>Reffered Case Details :</h2>

  <!-- Actions Menu -->
  <div class="actions-container">
    <button mat-button [matMenuTriggerFor]="statusMenu" class="status-action-btn">Change Status</button>
    <mat-menu #statusMenu="matMenu" yPosition="below">
      <button mat-menu-item>New</button>
      <button mat-menu-item>Open</button>
      <button mat-menu-item>In Progress</button>
      <button mat-menu-item>Closed</button>
    </mat-menu>

    <button mat-button [matMenuTriggerFor]="belowMenu" class="case-details-action-btn">Actions</button>
    <mat-menu #belowMenu="matMenu" yPosition="below">
      <button mat-menu-item class="refer-action-btn">Refer</button>
      <button mat-menu-item class="recommend-action-btn">Recommend</button>
    </mat-menu>
  </div>

  <!-- Container for Case Details -->
  <div class="annexure-panels">
    <h3>Annexure Section :</h3>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Annexure A</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-action-row>
        <button mat-button [matMenuTriggerFor]="annexureMenuA">Actions</button>
        <mat-menu #annexureMenuA="matMenu" yPosition="below">
          <button mat-menu-item class="refer-action-btn">View File</button>
          <button mat-menu-item class="recommend-action-btn">Download File</button>
          <button mat-menu-item class="recommend-action-btn">Compose / Edit Annexure</button>
          <button mat-menu-item class="refer-action-btn">Refer</button>
          <button mat-menu-item class="recommend-action-btn">Recommend</button>
        </mat-menu>
      </mat-action-row>
      
      <section>
          <div class="example-button-row">
            <button mat-raised-button color="primary" aria-label="Annexure A" (click)="openAnnexureA()">
              <mat-icon>attach_file</mat-icon>
              Annexure A
            </button>
          </div>
        </section>
        
        
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Annexure B</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-action-row>
        <button mat-button [matMenuTriggerFor]="annexureMenuB">Actions</button>
        <mat-menu #annexureMenuB="matMenu" yPosition="below">
          <button mat-menu-item class="refer-action-btn">Refer</button>
          <button mat-menu-item class="recommend-action-btn">Recommend</button>
        </mat-menu>
      </mat-action-row>
      <section>
        <div class="example-button-row">
          <button mat-raised-button color="primary" aria-label="Annexure B" (click)="openAnnexureB()">
            <mat-icon>attach_file</mat-icon>
            Annexure B
          </button>
        </div>
      </section>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Annexure C</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-action-row>
        <button mat-button [matMenuTriggerFor]="annexureMenuC">Actions</button>
        <mat-menu #annexureMenuC="matMenu" yPosition="below">
          <button mat-menu-item class="refer-action-btn">Refer</button>
          <button mat-menu-item class="recommend-action-btn">Recommend</button>
        </mat-menu>
      </mat-action-row>
      <section>
        <div class="example-button-row">
          <button mat-raised-button color="primary" aria-label="Annexure C" (click)="uploadAnnexureC()">
            <mat-icon>attach_file</mat-icon>
            Annexure C
          </button>
        </div>
        <div *ngIf="selectedFile" class="file-display">
          <mat-icon>insert_drive_file</mat-icon>
          <span>{{ selectedFile.name }}</span>
        </div>
      </section>
    </mat-expansion-panel>
    

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Annexure D</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-action-row>
        <button mat-button [matMenuTriggerFor]="annexureMenuD">Actions</button>
        <mat-menu #annexureMenuD="matMenu" yPosition="below">
          <button mat-menu-item class="refer-action-btn">Refer</button>
          <button mat-menu-item class="recommend-action-btn">Recommend</button>
        </mat-menu>
      </mat-action-row>
      <section>
        <div class="example-button-row">
          <button mat-raised-button color="primary" aria-label="Annexure B" (click)="openAnnexureD()">
            <mat-icon>attach_file</mat-icon>
            Annexure D
          </button>
        </div>
      </section>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Annexure E</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-action-row>
        <button mat-button [matMenuTriggerFor]="annexureMenuE">Actions</button>
        <mat-menu #annexureMenuE="matMenu" yPosition="below">
          <button mat-menu-item class="refer-action-btn">Refer</button>
          <button mat-menu-item class="recommend-action-btn">Recommend</button>
        </mat-menu>
      </mat-action-row>
      <section>
        <div class="example-button-row">
          <button mat-raised-button color="primary" aria-label="Annexure B" (click)="openAnnexureE()">
            <mat-icon>attach_file</mat-icon>
            Annexure E
          </button>
        </div>
      </section>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Annexure F</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-action-row>
        <button mat-button [matMenuTriggerFor]="annexureMenuF">Actions</button>
        <mat-menu #annexureMenuF="matMenu" yPosition="below">
          <button mat-menu-item class="refer-action-btn">Refer</button>
          <button mat-menu-item class="recommend-action-btn">Recommend</button>
        </mat-menu>
      </mat-action-row>
      <section>
        <div class="example-button-row">
          <button mat-raised-button color="primary" aria-label="Annexure B" (click)="uploadAnnexureF()">
            <mat-icon>attach_file</mat-icon>
            Annexure F
          </button>
        </div>
      </section>
    </mat-expansion-panel>
  </div>


  <div class="file-section-cm">


  </div>

  <div class="comment-input-field">
      <h3>Funding Details :</h3>
  
      <form class="example-form-saps">
        <mat-form-field class="example-full-width">
          <mat-label>Section Commenting On :</mat-label>
          <input matInput placeholder="Section" value="">
        </mat-form-field>
  
        <mat-form-field class="example-full-width">
          <mat-label>Leave a comment</mat-label>
          <textarea matInput placeholder="Comment Here"></textarea>
        </mat-form-field>
      </form>
    </div>

  <button mat-raised-button class="comment-submit-btn">Submit</button>

  <!-- Close Button -->
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Close</button>
  </mat-dialog-actions>
</mat-card>




<!-- <div class="case-details-container">
      <div *ngIf="case" class="mat-dialog-container">
          <p>Case ID: {{ case.caseID }}</p>
          <p>Cases: {{ case.cases }}</p>
          <p>Start Date: {{ case.startDate }}</p>
          <p>Status: {{ case.status }}</p>
          <p>Priority: {{ case.priority }}</p>
          <p>Case Type: {{ case.caseType }}</p>
          <p>Province: {{ case.province }}</p>
          <p>Channel: {{ case.channel }}</p>
          <p>Level Detected: {{ case.levelDetected }}</p>
          <p>Teams: {{ case.teams }}</p>
          <p>Last Modified: {{ case.lastModified }}</p>
          <p>Case End Date: {{ case.caseEndDate }}</p>
      </div>
  </div> -->