<ion-content>
  <div class="container">
    <div class="left-panel">
      <img src="assets/icon/NLC-Logo.png" alt="Logo" class="logo">
      <ion-text>
        <h1>NATIONAL LOTTERIES COMMISSION</h1>
        <h2>Forensic</h2>
      </ion-text>
    </div>
    <div class="right-panel">
      <div class="forgot-page">
        <h3>Forgot Password</h3>
        <form>
          <ion-list>
            <ion-item>
              <ion-label position="floating">Enter your email</ion-label>
              <ion-input type="email" name="email" required></ion-input>
            </ion-item>
          </ion-list>
          <ion-button type="submit" expand="block" color="primary">Send Code</ion-button>
        </form>
      </div>
    </div>
  </div>
</ion-content>

