<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-thumbnail slot="start" class="logo">
      <img alt="NLC Logo" src="assets/icon/NLC-Logo.png" class="logo-img" />
    </ion-thumbnail>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="moon"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon name="settings"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon name="notifications"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon name="person-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
