button {
    display: flex;
    align-items: center;
    width: 100%;
    text-align: left;
  }
  
  mat-icon {
    margin-right: 8px;
  }
  
  mat-divider {
    background-color: rgba(0, 0, 0, 0.12); /* Light black color */
  }
  