<div>
  <button mat-menu-item>
    <mat-icon>account_circle</mat-icon>
    <span>{{ userInfo.name }}</span>
  </button>
  <mat-divider></mat-divider>
  <button mat-menu-item>
    <mat-icon>email</mat-icon>
    <span>{{ userInfo.email }}</span>
  </button>
  <mat-divider></mat-divider>
  <button mat-menu-item>
    <mat-icon>person_pin</mat-icon>
    <span>{{ userInfo.role }}</span>
  </button>
  <mat-divider></mat-divider>
  <button mat-menu-item>
    <mat-icon>https</mat-icon>
    <span>UserID</span>
  </button>
  <mat-divider></mat-divider>
 
  <button mat-menu-item (click)="logout()">  <!-- Bind the logout method here -->
    <mat-icon>logout</mat-icon>
    <span>Logout</span>
  </button>
</div>
