<ion-content>
  <div class="container">
    <div class="left-panel">
      <img src="assets/icon/NLC-Logo.png" alt="Logo" class="logo">
      <ion-text>
        <h1>NATIONAL LOTTERIES COMMISSION</h1>
        
      </ion-text>
    </div>
    <div class="right-panel">
      <div class="change-password-form">
        <form>
          <ion-list>
            <ion-text><h2>Change Password</h2></ion-text>
            <ion-item>
              <ion-label position="floating">Username</ion-label>
              <ion-input type="password" name="currentPassword" required></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">New Password</ion-label>
              <ion-input type="password" name="newPassword" required></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Confirm New Password</ion-label>
              <ion-input type="password" name="confirmNewPassword" required></ion-input>
            </ion-item>
          </ion-list>
          <ion-button type="submit" expand="block" color="primary">Change Password</ion-button>
        </form>
        <div *ngIf="errorMessage" class="error-message">
          <ion-icon name="alert-circle" class="error-icon"></ion-icon>
          <ion-text color="danger">
            <p>{{ errorMessage }}</p>
          </ion-text>
        </div>
      </div>
    </div>
  </div>
</ion-content>
