.settings-profiles-view {
  padding-top: 90px;
}

.profiles-settings-boxstyling{
  margin-top: 20px;
  margin-left: 85px;
  margin-right: 50px;
}
.settings-profiles-title {
  margin-left: 85px;
  font-size: 24px;
  font-weight: bold;
}



mat-expansion-panel {
  padding: 15px; 
  min-height: 15px; 
  
}
