.error-message {
    background-color: #f8d7da; /* Background color for error message */
    color: #721c24; /* Text color for error message */
    border: 1px solid #f5c6cb; /* Border color for error message */
    border-radius: 4px; /* Border radius for error message */
    display: flex; /* Flex display to align items horizontally */
    align-items: center; /* Align items in the center horizontally */
  }
  
  .error-icon {
    margin-right: 8px; /* Margin between the icon and error message */
    color: #721c24; /* Color of the error icon */
  }
  
  .container {
  display: flex;
  height: 100vh;
}

.left-panel {
  background-color: white;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo {
  margin-bottom: 20px;
  /* Set width or height depending on your logo's aspect ratio */
  width: 150px;
}

h1, h2 {
  text-align: center;
}

.right-panel {
  flex: 1;
  background: linear-gradient(to right, orange, red, blue);
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-form {
  background-color: white;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  width: 300px;
}

h3 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-check {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

input[type="checkbox"] {
  margin-right: 5px;
}

.forgot-password {
  display: block;
  text-align: right;
  margin-bottom: 20px;
  color: #007bff;
  text-decoration: none;
}

button[type="submit"] {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}
label {
  
}