
<ion-content>
  <div class="container">
    <div class="left-panel">
      <img src="./assets/logo.png" alt="Logo" class="logo">
      <ion-text>
        <h1>NATIONAL LOTTERIES COMMISSION</h1>
        <h2>Forensic</h2>
      </ion-text>
    </div>
    <div class="right-panel">
      <div class="login-form">
        <form>
          <ion-list>
            <ion-item>
              <ion-label position="floating">Username</ion-label>
              <ion-input type="text"  name="username" required></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Password</ion-label>
              <ion-input type="password"  name="password" required></ion-input>
            </ion-item>
          </ion-list>
          <ion-row>
            <ion-col>
              <ion-item lines="none">
                <ion-checkbox slot="start"  name="rememberMe"></ion-checkbox>
                <ion-label>Remember me</ion-label>
              </ion-item>
            </ion-col>
            
          </ion-row>
          <ion-row>
          <ion-col>
              <ion-button fill="clear" size="small" class="forgot-password">Forgot password?</ion-button>
            </ion-col>
          </ion-row>
          <ion-button type="submit" expand="block" color="primary">Login</ion-button>
        </form>
        <div *ngIf="errorMessage" class="error-message">
          <ion-text color="danger">
            <p>{{ errorMessage }}</p>
          </ion-text>
        </div>
      </div>
    </div>
  </div>
</ion-content>
