.custom-table {
  margin-left: 20px;
  overflow-y: auto;
}

.title {
  margin-left: 15px;
  margin-top: 45px;
  font-size: 24px;
  font-weight: bold;
}

.mat-header-row,
.mat-row {
  display: flex;
  align-items: center;
}

.mat-header-cell,
.mat-cell {
  flex: 1;
}

.mat-header-cell {
  font-weight: bold;
}

.mat-cell {
  text-align: center;
}

.mat-elevation-z8 {
  margin-right: 10px;
  margin-left: 20px;
}

/* Specific styling for funded and non-funded titles */
.funded-title {
  margin-top: 7%;
}

.non-funded-title {
  margin-top: 2%;
}

/* Maintain the specific styling for the 'Add Report' button */
.add-report-button {
  margin-left: 91%; /* Ensure this margin is maintained */
}

.incident-details-container,
.incident-details-non-funded-container,
.incident-details-funded-container {
  margin: 20px;
  padding: 20px;
}