// .custom-table {
//   margin-left: 20px;
//   overflow-y: auto;
// }

// .title {
//   margin-left: 15px;
//   margin-top: 45px;
//   font-size: 24px;
//   font-weight: bold;
// }

// .mat-header-row,
// .mat-row {
//   display: flex;
//   align-items: center;
// }

// .mat-header-cell,
// .mat-cell {
//   flex: 1;
// }

// .mat-header-cell {
//   font-weight: bold;
// }

// .mat-cell {
//   text-align: center;
// }

// .mat-elevation-z8 {
//   margin-right: 10px;
//   margin-left: 20px;
// }

.incident-report-view{
  padding-top: 90px;
}

.incident-report-title{
    margin-left: 85px;
    margin-top: 5px;
    font-size: 24px;
    font-weight: bold;
}

/* Specific styling for funded and non-funded titles */
.funded-title {
  margin-top: 7%;
  margin-left: 25px;
}

.non-funded-title {
  margin-top: 2%;
  margin-left: 25px;
  font-weight: bold;
}

/* Maintain the specific styling for the 'Add Report' button */
.add-report-button {
  margin-left: 88%; /* Ensure this margin is maintained */
  margin-bottom: 7px;
}

.incident-details-container,
.incident-details-non-funded-container,
.incident-details-funded-container {
  margin: 20px;
  padding: 20px;
}