<button mat-icon-button mat-dialog-close class="close-button">
    <mat-icon>close</mat-icon>
</button>


<mat-card class="annexure-a-card" cdkDrag>

    

    <mat-card-header>
      <mat-card-title>
        <div class="header">
          <div>Tel: +27(12)432 1300</div>
          <div>Info Centre: 086 00 65383</div>
          <div>Web: www.nlcsa.org.za</div>
          <div>National Lotteries Commission (NLC)</div>
          <div>P.O Box 1556, Brooklyn Square 0083, Pretoria</div>
        </div>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content class="content">
      <div>
        <div><strong>Case Ref:</strong> NLC-INV: 01/10/2023</div>
        <div><strong>Forensic Case Assessment</strong></div>
        <div>
          <strong>Date:</strong> <span>______</span>
          <strong>Source:</strong> <span>______</span>
        </div>
        <div><strong>Allegations:</strong> Corruption</div>
        <div>
          <strong>Categorisation:</strong>
          <div>
            <mat-checkbox>Simple</mat-checkbox>
            <mat-checkbox>Medium</mat-checkbox>
            <mat-checkbox>Complex</mat-checkbox>
          </div>
        </div>
        <div>
          <strong>Classification of allegations</strong>
          <ol>
            <li>Corruption</li>
            <li>Fraud</li>
            <li>Forgery/Uttering</li>
            <li>Ethical issue</li>
            <li>Nepotism / HR</li>
            <li>Supply Chain Management</li>
            <li>Theft</li>
            <li>Non Compliance</li>
            <li>Misappropriation of funds</li>
            <li>Conflict of interest</li>
            <li>Collusion</li>
            <li>Scam(s)</li>
            <li>Misconduct</li>
            <li>Other</li>
          </ol>
        </div>
        <div>
          <strong>Perpetrators / officials implicated:</strong>
          <div>a) XXX</div>
        </div>
        <div>
          <strong>Legislative overview (Acts, guidelines, and policies applicable):</strong>
          <ol>
            <li>NLC xxxx</li>
            <li>XXXX</li>
          </ol>
        </div>
        <div>
          <strong>Preliminary Information required:</strong>
          <ol>
            <li>XXXXXXX</li>
          </ol>
        </div>
        <div>
          <strong>Preliminary Procedures performed:</strong>
          <ol>
            <li>We reviewed the allegation received via XXXX</li>
          </ol>
        </div>
        <div>
          <strong>Preliminary issues:</strong>
          <ul>
            <li>We conducted inquiries and established XXXX</li>
            <li>XXXXX that Mr</li>
          </ul>
        </div>
        <div><strong>Conclusion & Recommendation:</strong></div>
        <div>
          <strong>REFERRAL</strong>
          <div>
            <strong>FROM:</strong> <span>Name</span> <strong>Signature:</strong> <span>______</span>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  