
.custom-table {
  margin-left: 20px;
  overflow-y:auto ;
}

.title {
  margin-left: 15px;
  margin-top: 45px;
  font-size: 24px;
  font-weight: bold;
}

.sub-files-header {
  cursor: pointer;
}

.status.open {
  color: green;
}

.status.closed {
  color: red;
}

.status.in-progress {
  color: orange;
}

.mat-header-row, .mat-row {
  display: flex;
  align-items: center;
}

.mat-header-cell, .mat-cell {
  flex: 1;
}

.mat-header-cell {
  font-weight: bold;
}

.mat-cell {
  text-align: center;
}

.example-container {
  width: 100%;
  height: 100%;
  display: block;
}
.example-sidenav-content {
  margin-top: auto;
  margin-bottom: auto;
  
  display: block;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.mat-elevation-z8{
  margin-right: 10px;
  margin-left: 20px;
  

}
.example-sidenav {

  width: 50px;
  display: block; // Your current fixed width

  // Convert to percentage width
  @media (min-width: 768px) { // Adjust breakpoint as needed
      width: 20%; // Example: 20% of the viewport width
  }
}
.addFile-c-m-button {
  float: right;
  border-radius: 5px;
  margin-left: 10px; /* Add spacing between buttons */
  margin-bottom: 20px;
  
  
}

.addCase-c-m-button {
  float: right;
  border-radius: 5px; /* Added for consistency in appearance */
}


