<div class="service-provider-view">
  <div class="title">
    Agencies & Firms
  </div>

   <div class="container">
    <div class="section agencies">
      <h2>Agencies</h2>
      <button mat-raised-button class="agency-button" id="saps">SAPS</button>
      <button mat-raised-button class="agency-button" id="sars">SARS</button>
      <button mat-raised-button class="agency-button" id="siu">Special Investigetion Unit (SIU)</button>
      <button mat-raised-button class="agency-button" id="cipc">CIPC</button>
      <button mat-raised-button class="agency-button" id="dsd">Depertment of Social Development</button>
      <button mat-raised-button class="agency-button" id="dpci">DPCI</button>
      <button mat-raised-button class="agency-button" id="dtic">DTIC</button>
      <button mat-raised-button class="agency-button" id="national-treasury">National Treasury</button>
    </div>
    <div class="section firms">
      <h2>Firms</h2>
      <button mat-raised-button class="firm-button" id="sedupe-and-metja">Sedupe & Metja</button>
      <button mat-raised-button class="firm-button" id="ubac">UBAC</button>
      <button mat-raised-button class="firm-button" id="fundudzi">Fundudzi</button>
      <button mat-raised-button class="firm-button" id="open-water">Open Water</button>
      <button mat-raised-button class="firm-button" id="gfia">GFIA</button>
      <button mat-raised-button class="firm-button" id="ffrim">FRRIM</button>
      <button mat-raised-button class="firm-button" id="ligwa">LIGWA</button>
      <button mat-raised-button class="firm-button" id="afis">AFIS</button>
      <button mat-raised-button class="firm-button" id="nexia-sab&t">Nexia SAB&T</button>
    </div>
   </div>
  
</div>