.settings-portal-users-view {
  padding: 20px;
}

.settings-portal-users-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.settings-portal-users-title {
  font-size: 24px;
  font-weight: bold;
}

.add-user-button {
  margin-left: auto;
  margin-top: 50px;
}

.portal-users-settings-boxstyling {
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 15px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.user-list {
  margin-top: 20px;
}

.UserNumer1Table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed; /* Ensures that the table layout is fixed */
}

.UserNumer1Table th, .UserNumer1Table td {
  padding: 12px;
  border-bottom: 1px solid #f0f0f0;
  text-align: center; /* Center-aligns the text */
  width: calc(100% / 8); /* Adjusts the width based on the number of columns */
}

.UserNumer1Table th {
  background-color: #f9f9f9;
  color: #333;
}

.UserNumer1Table tr:hover {
  background-color: #f1f1f1;
}

.no-users-message {
  text-align: center;
  font-size: 16px;
  color: #888;
  margin-top: 20px;
}

.workload-details {
  margin-top: 20px;
}

.mat-card {
  transition: all 0.3s ease-in-out;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

button {
  transition: background-color 0.3s, color 0.3s;
}

button:hover {
  background-color: #0056b3;  // Or any color that fits your brand
  color: white;
}

/* Responsive design adjustments */
@media (max-width: 600px) {
  .UserNumer1Table, thead, tbody, th, td, tr {
    display: block;
  }

  th, td {
    padding: 8px;
    text-align: left;
  }

  .add-user-button {
    margin-top: 20px;  // Reduce margin in smaller screens
  }
}
