<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-thumbnail slot="start" class="logo">
      <img alt="NLC Logo" src="assets/icon/NLC-Logo.png" class="logo-img" />
    </ion-thumbnail>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="moon"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon name="settings"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon name="notifications"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon name="person-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<!-- Side menu -->

<ion-menu contentId="main-content" class="side-menu"  side="start">
  <ion-content class="ion-padding">
    <ion-list>
      <ion-item class="ion-side-menu-button" button lines="none" detail="false" >
        <ion-icon name="home" slot="start"></ion-icon>
        Dashboard
      </ion-item>
      <ion-item class="ion-side-menu-button" button lines="none" detail="false">
        <ion-icon name="document-text" slot="start"></ion-icon>
        Incident Report
      </ion-item>
      <ion-item class="ion-side-menu-button" button lines="none" detail="false">
        <ion-icon name="briefcase" slot="start"></ion-icon>
        Case Management
      </ion-item>
      <ion-item class="ion-side-menu-button" button lines="none" detail="false">
        <ion-icon name="cash" slot="start"></ion-icon>
        Grant Case Management
      </ion-item>
      <ion-item class="ion-side-menu-button" button lines="none" detail="false">
        <ion-icon name="hand-right-outline" slot="start"></ion-icon>
        Referals A & F
      </ion-item>
      <ion-item class="ion-side-menu-button" button lines="none" detail="false">
        <ion-icon name="folder-open" slot="start"></ion-icon>
        Document Management
      </ion-item>
      <ion-item class="ion-side-menu-button" button lines="none" detail="false">
        <ion-icon name="bar-chart" slot="start"></ion-icon>
        Audit Trail
      </ion-item>
      <ion-item class="ion-side-menu-button" button lines="none" detail="false">
        <ion-icon name="chatbubbles" slot="start"></ion-icon>
        Discuss
      </ion-item>
      <ion-item class="ion-side-menu-button" button lines="none" detail="false">
        <ion-icon name="calendar" slot="start"></ion-icon>
        Calendar
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-content>

  <!-- Main content -->
  <div class="ion-page" id="main-content">
    <ion-header class="ion-no-border">
      <ion-toolbar >
        <ion-buttons  slot="start"  >
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-title>Dashboard</ion-title>
      <ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col size="6" size-md="3">
        <ion-card >       <!--button (click)="gotoAmountWithheld()"-->
          <ion-card-content>
            <ion-card-title>Amount Withheld</ion-card-title>
            R 345 678 000
          </ion-card-content>
        </ion-card>
      </ion-col>
      
      <ion-col size="6" size-md="3">
        <ion-card >       <!--button (click)="gotoNewCases()"-->
          <ion-card-content>
            <ion-card-title>New Cases</ion-card-title>
            115
          </ion-card-content>
        </ion-card>
      </ion-col>
      
      <ion-col size="6" size-md="3">
        <ion-card >     <!--button (click)="gotoClosedCases()"-->
          <ion-card-content>
            <ion-card-title>Closed Cases</ion-card-title>
            80
          </ion-card-content>
        </ion-card>
      </ion-col>
      
      <ion-col size="6" size-md="3">
        <ion-card >     <!--button (click)="gotoIssues()"-->
          <ion-card-content>
            <ion-card-title>Issues</ion-card-title>
            999
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-title> Cases By Province </ion-title>




  

    </ion-content>
    </ion-content>
  </div>
</ion-content>





