<div class="dashboard-view">
<div class="title">
    Dashboard
</div>

        <div class="example-button-container">
            <button mat-mini-fab color="basic" aria-label="Example icon button with a filter list icon">
              <mat-icon>filter_list</mat-icon>
            </button>
        </div>

        <div class="main-content">
            <mat-tab-group class="tabs" mat-stretch-tabs mat-align-tabs="center">
                <mat-tab label="All">
                    <app-first-widget></app-first-widget>
                </mat-tab>
                <mat-tab label="Internal"></mat-tab>
                <mat-tab label="External"></mat-tab>
            </mat-tab-group>
        </div>
   
    </div>