ion-buttons ion-button {
  margin-right: 20px; /* Adjust this value as needed */
}

.logo {
  margin-left: 1%;
}

.logo-img {
  width: 40px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
  padding-top: 10px;
}

.ion-side-menu-button{
  padding-bottom: 2em;
  
}
.side-menu ion-item:first-child {
  padding-top: 2em; /* Additional padding for the top item */
}

ion-card {
  --border-radius: 15px; /* This will give the card rounded corners */
  --background: #f2f2f2; /* This is a light grey background color */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Adds a subtle shadow to the cards */
}

ion-card-title {
  color: #323232; /* Sets the title color to a darker shade for contrast */
}

/* Additional styles to enhance the appearance of the card content */
ion-card-content {
  padding: 16px; /* Adjust padding as needed */
}
