<div class="dashboard-view">
    <div class="title">
      Dashboard
    </div>
  
    <div class="example-button-container">
      <button mat-mini-fab color="basic" aria-label="Example icon button with a filter list icon">
        <mat-icon>filter_list</mat-icon>
      </button>
    </div>
  
    <div class="main-content">
      <mat-tab-group class="tabs" mat-stretch-tabs mat-align-tabs="center">
        <mat-tab label="All">
          <app-first-widget></app-first-widget>
          
          <!-- Flex Container for Map and Chart -->
          <div class="map-chart-container">
            <!-- Interactive Map Container -->
            <div class="map-container">
              <div id="map" style="width: 100%; height: 100%;"></div>
            </div>
  
            <!-- Bar Chart Container -->
            <div class="chart-container">
              <div id="echart" style="width: 100%; height: 100%;"></div>
            </div>
          </div>
          <!-- Additional Charts Container -->
        <div class="additional-charts-container">
            <div class="additional-chart">
              <div id="chart1" style="width: 100%; height: 400px;"></div>
            </div>
            <div class="additional-chart">
              <div id="chart2" style="width: 100%; height: 400px;"></div>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="Internal"></mat-tab>
        <mat-tab label="External"></mat-tab>
      </mat-tab-group>
    </div>
  </div>
  
