<ion-menu contentId="main-content" class="side-menu" side="start">
  <ion-content class="ion-padding">
    <ion-list>
      <ion-item
        class="ion-side-menu-button"
        button
        lines="none"
        detail="false"
        (click)="navigateTo('/dashboard')"
      >
        <ion-icon name="home" slot="start" id="dashboard"></ion-icon>
        Dashboard
      </ion-item>
      <ion-item
        class="ion-side-menu-button"
        button
        lines="none"
        detail="false"
        (click)="navigateTo('/incident-report')"
      >
        <ion-icon name="document-text" slot="start"></ion-icon>
        Incident Report
      </ion-item>
      <ion-item
        class="ion-side-menu-button"
        button
        lines="none"
        detail="false"
        (click)="navigateTo('/case-management')"
      >
        <ion-icon name="briefcase" slot="start"></ion-icon>
        Case Management
      </ion-item>
      <ion-item
        class="ion-side-menu-button"
        button
        lines="none"
        detail="false"
        (click)="navigateTo('/grant-case-management')"
      >
        <ion-icon name="cash" slot="start"></ion-icon>
        Grant Case Management
      </ion-item>
      <ion-item
        class="ion-side-menu-button"
        button
        lines="none"
        detail="false"
        (click)="navigateTo('/agencies-and-firms')"
      >
        <ion-icon name="cash" slot="start"></ion-icon>
        Referals A & F
      </ion-item>
      <ion-item
        class="ion-side-menu-button"
        button
        lines="none"
        detail="false"
        (click)="navigateTo('/doc-management')"
      >
        <ion-icon name="folder-open" slot="start"></ion-icon>
        Document Management
      </ion-item>
      <ion-item
        class="ion-side-menu-button"
        button
        lines="none"
        detail="false"
        (click)="navigateTo('/audit-trail')"
      >
        <ion-icon name="bar-chart" slot="start"></ion-icon>
        Audit Trail
      </ion-item>
      <ion-item
        class="ion-side-menu-button"
        button
        lines="none"
        detail="false"
        (click)="navigateTo('/discuss')"
      >
        <ion-icon name="chatbubbles" slot="start"></ion-icon>
        Discuss
      </ion-item>
      <ion-item
        class="ion-side-menu-button"
        button
        lines="none"
        detail="false"
        (click)="navigateTo('/calender')"
      >
        <ion-icon name="calendar" slot="start"></ion-icon>
        Calendar
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
