.dialog-container {
    width: 350px; /* Thinner panel width */
    padding: 0px;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
  }
  
  .dialog-header {
    display: flex;
    justify-content: flex-end; /* Center the header text */
    align-items: center;
  }
  
  .dialog-button {
    font-size: 1.2em;
    font-weight: lighter; /* Larger button text */
    padding: 10px 20px; /* Larger button padding */
    margin: 30px; /* Space between buttons */
    background-color: #1976d2; /* Blue button background */
    color: white; /* White text color */
    border: none; /* Remove default border */
    border-radius: 4px; /* Rounded corners */
    transition: background-color 0.3s; /* Smooth transition */
  }

  


  
  .dialog-button:hover {
    background-color: #1565c0; /* Darker blue on hover */
  }
  
  .mat-dialog-actions {
    display: flex;
    justify-content: space-between; /* Space buttons apart */
    width: 100%; /* Ensure full width for alignment */
    margin-top: auto;
    
  }
  
  .reason-field {
    width: 100%;
    align-content: center;
    border: #1565c0;
    
  }
  
  textarea.no-resize {
    height: 120px; /* Make the textarea bigger */
    resize: none; /* Disable resizing */
    width: 100px;
    
  }
  .mdc-dialog__actions {
    justify-content: flex-end;
  }