<p-sidebar [(visible)]="visible" position="right" (onHide)="closeNotificationSidePanel()">
  <p-card>
    <ng-template pTemplate="header">
      <button pButton type="button" icon="pi pi-times" class="p-button-rounded p-button-danger p-button-text" (click)="closeNotificationSidePanel()" aria-label="Close Notification Panel"></button>
    </ng-template>
    <ng-template pTemplate="title">
      Notifications
    </ng-template>
    <ng-template pTemplate="content">
      <!-- Add your notification content here -->
    </ng-template>
  </p-card>
</p-sidebar>
