ion-buttons ion-button {
  margin-right: 20px; /* Adjust this value as needed */
}

.logo {
  margin-left: 1%;
}

.logo-img {
  width: 40px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
  padding-top: 10px;
  
}

.ion-side-menu-button{
  padding-bottom: 2em;

  
}
.side-menu ion-item:first-child {
  padding-top: 2em; /* Additional padding for the top item */}

.storage-backround {
  display: block; /* Ensure the image is displayed as a block element */
  margin: auto; /* Center the image horizontally */
  max-width: 90%; /* Ensure the image does not exceed the width of its container */
  max-height: 90%; /* Ensure the image does not exceed the height of its container */
}
.storage-text{
  display: block; /* Ensure the image is displayed as a block element */
  margin-left: 300px; /* Center the image horizontally */
  max-width: 100%; /* Ensure the image does not exceed the width of its container */
  max-height: 100%;
}

.menu-inner{
    margin-top: 20px;
}

.menu-backdrop{
  margin-top: 20px;
}
