ion-buttons ion-button {
  margin-right: 20px; /* Adjust this value as needed */
}

.logo {
  margin-left: 1%;
}

.logo-img {
  width: 40px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
  padding-top: 10px;
  
}
.ion-side-menu-button {
  padding-bottom: 2em;
}

.side-menu ion-item:first-child {
  padding-top: 4em;
}

.user-item {
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.user-item:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}
