<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-thumbnail slot="start" class="logo">
      <img alt="NLC Logo" src="assets/icon/NLC-Logo.png" class="logo-img" />
    </ion-thumbnail>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="moon"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon name="settings"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon name="notifications"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon name="person-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>








<!--Settings Section-->


    <ion-menu contentId="main-content" class="side-menu" side="start">
  <ion-menu-button></ion-menu-button>
  <ion-content class="ion-padding" >
    <ion-list>
      <ion-item class="ion-side-menu-button" button lines="none" detail="false">
        <ion-icon name="person-circle-outline" slot="start"></ion-icon>
        Personal Settings
      </ion-item>
      <ion-item-group>
        <ion-item-divider>
          <ion-icon name="analytics-outline" slot="start"></ion-icon>
          Data Administration
        </ion-item-divider>
        <ion-item class="ion-side-menu-button" button lines="none" detail="false">
          <ion-icon slot="start"></ion-icon>
          Storage
        </ion-item>
        <ion-item class="ion-side-menu-button" button lines="none" detail="false">
          <ion-icon  slot="start"></ion-icon>
          Audit Logs
        </ion-item>
      </ion-item-group>
      <ion-item-group>
        <ion-item-divider>
          <ion-icon name="id-card-outline" slot="start"></ion-icon>
          Manage Users
        </ion-item-divider>
        <ion-item class="ion-side-menu-button" button lines="none" detail="false">
          <ion-icon  slot="start"></ion-icon>
          Portal Users
        </ion-item>
      </ion-item-group>
      <ion-item class="ion-side-menu-button" button lines="none" detail="false">
        <ion-icon name="people-circle-outline" slot="start"></ion-icon>
        Profiles
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-content>
  <div class="ion-page" id="main-content">
    <ion-header class="ion-no-border">
      <ion-toolbar>
        <ion-buttons slot="start" state="off">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-title>Profiles</ion-title>
      <ion-list>
        <ion-item class="user-item"  lines="full">
          <ion-avatar slot="start" style="min-width: 50px; min-height: 50px;">
            <img src="assets/icon/user-icon.png" />
          </ion-avatar>
          <ion-label>User</ion-label>
        </ion-item>
        <ion-item class="user-item" lines="full">
          <ion-avatar slot="start" style="min-width: 50px; min-height: 50px;">
            <img src="assets/icon/manager-icon.png" />
          </ion-avatar>
          <ion-label>Manager</ion-label>
        </ion-item>
        <ion-item class="user-item" lines="full">
          <ion-avatar slot="start" style="min-width: 50px; min-height: 50px;">
            <img src="assets/icon/commissioner-icon.png" />
          </ion-avatar>
          <ion-label>Commissioner</ion-label>
        </ion-item>
        <ion-item class="user-item" lines="full">
          <ion-avatar slot="start" style="min-width: 50px; min-height: 50px;">
            <img src="assets/icon/admin-icon.png" />
          </ion-avatar>
          <ion-label>Admin</ion-label>
        </ion-item>
        <ion-item class="user-item" lines="full">
          <ion-avatar slot="start" style="min-width: 50px; min-height: 50px;">
            <img src="assets/icon/cae-icon.png" />
          </ion-avatar>
          <ion-label>CAE (Chief Audit Executive)</ion-label>
        </ion-item>
        <ion-item class="user-item" lines="full">
          <ion-avatar slot="start" style="min-width: 50px; min-height: 50px;">
            <img src="assets/icon/barc-icon.png"/>
          </ion-avatar>
          <ion-label>BARC (Board Audit Committee and Risk Management Committee)</ion-label>
          </ion-item>
          <ion-item class="user-item" lines="full">
          <ion-avatar slot="start" style="min-width: 50px; min-height: 50px;">
            <img src="assets/icon/fe-icon.png" />
          </ion-avatar>
          <ion-label>ACFE (Association of Certified Fraud Examiner’s)</ion-label>
        
        </ion-item>
      </ion-list>
      
    </ion-content>
  </div>




