<div class="card-containers">
    <mat-card class="floating-card">
    <mat-card-header>
      <mat-card-title>New Cases</mat-card-title>
      <mat-card-subtitle >8</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions>
        <button mat-button class="apply-button" slot="end">APPLY</button>
        <button mat-button class="view-button">VIEW</button>
    </mat-card-actions>
  </mat-card>
  
  <mat-card class="floating-card-2">
    <mat-card-header>
        <mat-card-title>Closed Cases</mat-card-title>
        <mat-card-subtitle>14</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions>
    <button mat-button class="apply-button">APPLY</button>
        <button mat-button class="view-button">VIEW</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="floating-card-3">
    <mat-card-header>
      <mat-card-title>Recommended</mat-card-title>
      <mat-card-subtitle>5</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions>
        <button mat-button class="apply-button">APPLY</button>
        <button mat-button class="view-button">VIEW</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="floating-card-4">
    <mat-card-header>
      <mat-card-title>Not-Recommended</mat-card-title>
      <mat-card-subtitle>7</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions>
        <button mat-button class="apply-button">APPLY</button>
        <button mat-button class="view-button">VIEW</button>
    </mat-card-actions>
  </mat-card>
</div>