.container {
    display: flex;
    height: 100vh;
}

.left-panel {
    background-color: white;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-right: 20px;
}

.right-panel {
    flex: 1;
    border-radius: 30px 10px 15px 30px;
    background: radial-gradient(circle at center, rgba(217, 217, 217, 0.697) 0%, rgba(217, 217, 217, 0) 100%),
    linear-gradient(to top right, rgba(200, 41, 41, 1), rgba(255, 196, 89, 1), rgb(46, 88, 146));
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 200px;
    padding-right: 100px;
}

.logo {
margin-bottom: 20px;
  /* Set width or height depending on your logo's aspect ratio */
width: 100%;
height: auto;
max-width: 400px; /* To ensure the logo does not exceed 500px */
}

h1, h2 {
    text-align: center;
}

.code-verification {
    background-color: white;
    padding: 40px;
    border-radius: 25px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}
