ion-buttons ion-button {
    margin-right: 20px; /* Adjust this value as needed */
}

.logo {
    margin-left: 1%;
}

.logo-img {
    width: 40px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    padding-top: 10px;
}

.ion-side-menu-button{
    padding-bottom: 2em;
  
}
.side-menu ion-item:first-child {
    padding-top: 2em; /* Additional padding for the top item */
}

.custom-table table {
  width: 100%;
  border-collapse: collapse;
}

.custom-table th, .custom-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.custom-table th {
  background-color: #f2f2f2;
}

.status.open {
  color: green;
}

/* Responsive adjustments */
@media (max-width: 600px) {
  .custom-table, .custom-table thead, .custom-table tbody, .custom-table th, .custom-table td, .custom-table tr {
    display: block;
  }

  .custom-table th, .custom-table td {
    text-align: right;
    position: relative;
    padding-left: 50%;
  }

  .custom-table th::before, .custom-table td::before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 15px;
    font-weight: bold;
    text-align: left;
  }
}
/* Additional styles for the collapsible section */
.sub-files-header {
  cursor: pointer;
}

ion-item {
  --padding-start: 0;
  --inner-padding-end: 0;
}

ion-chip {
  margin: 0 4px;
}
