

/* calendar.component.css */
:host {
  display: block;
  padding-left: 75px;
}

full-calendar {
  max-width: 90%;
  padding-top: 10px;
}

.calendar-view{
  padding-top: 75px;
}

.calender-title {
  margin-left: 85px;
  margin-top: 5px;
  font-size: 24px;
  font-weight: bold;
}
