<!-- <mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
      <p>Auto-resizing sidenav</p>
      @if (showFiller) {
        <p>Lorem, ipsum dolor sit amet consectetur.</p>
      }
      <button (click)="showFiller = !showFiller" mat-raised-button>
        Toggle extra text
      </button>
    </mat-drawer>
  
    <div class="example-sidenav-content">
      <button type="button" mat-button (click)="drawer.toggle()">
        Toggle sidenav
      </button>
    </div>
  
  </mat-drawer-container> 
            -------------------------------
            Armand: This is how the Sidenav would work
-->
<div class="container">
  <div class="left-panel">
      <img src="assets/NLC-Logo.png" alt="NLC Logo">
    <h1>NATIONAL LOTTERIES COMMISSION</h1>
    <h2>Forensic</h2>
  </div>
  <div class="right-panel">
    <div class="login-form">
      <h3>Log in to your account</h3>
      <form class="example-form">
        <mat-form-field class="example-full-width">
          <mat-label>Username</mat-label>
          <input matInput [(ngModel)]="email" name="email" placeholder="admin@gmail.com">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Password</mat-label>
          <input matInput [(ngModel)]="password" name="password" type="password" placeholder="****">
        </mat-form-field>
        <div class="form-check">
          <mat-checkbox>Remember me</mat-checkbox>
        </div>
        <a href="#" class="forgot-password">Forgot password?</a>
        <button mat-raised-button color="primary" type="submit" (click)="login()">Login</button>
      </form>
    </div>
  </div>
</div>


  
  <!-- <mat-card class="example-card">
    <mat-card-header>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>This card has divider and indeterminate progress as footer</p>
      <p>{{ longText }}</p>
      <mat-divider></mat-divider>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
    <mat-card-footer>
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </mat-card-footer>
  </mat-card> -->