.logo-img {
    margin-left: 1%;
}

.logo-img {
    width: 60px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    padding-top: 10px;
}
.spacer {
  flex: 1 1 auto;
}
mat-icon {
  font-size: 40px; /* Adjust the font-size to make the icons bigger */
  
}


