<mat-toolbar class="sticky-toolbar">
  <a class="logo" href="/dashboard">
    <img alt="NLC Logo" src="assets/NLC-Logo.png" class="logo-img" />
  </a>
  <span class="spacer"></span>

  <button mat-button (click)="openNotificationSidePanel()" aria-label="Open Notifications">
    <mat-icon>notifications</mat-icon>
  </button>

  <button mat-button aria-label="Settings" (click)="navigateTo('/Settings')">
    <mat-icon>settings</mat-icon>
  </button>

  <button mat-button [matMenuTriggerFor]="userMenu" aria-label="User Menu">
    <mat-icon>person</mat-icon>
  </button>
  <mat-menu #userMenu="matMenu">
    <app-user-dropdown></app-user-dropdown>
  </mat-menu>
</mat-toolbar>

<app-notification-side-panel [(visible)]="sidebarVisible2"></app-notification-side-panel>
