<div class="settings-storage-view">
  <div class="settings-storage-title">
    Storage Settings
  </div>

  <div class="settings-sections">
    <mat-card class="storage-card">
      <mat-card-content>
        <div class="storage-illustration">
          <img src="/assets/settings-storage-cloudImage.png" alt="Storage Illustration" class="storage-image" />
        </div>

        <div class="storage-description">
          NLC Forensic Dashboard seamlessly integrates with NLC WorkDrive to offer a secure environment for your
          documents. Users can upload files to WorkDrive and access them within NLC Forensic Dashboard.
        </div>

        <div class="storage-usage">
          <div class="usage-bar">
            <div class="current-usage-bar"></div>
          </div>
          <div class="usage-details">
            <span class="current-usage">Current Usage</span>
            <span class="total-space">Total Space</span>
          </div>
          <div class="usage-values">
            <span>0 bytes</span>
            <span>5 GB</span>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
