<mat-card class="custom-card">
    <h2>
        Non-Funding Related<br>Case Management Form
      </h2>
  <mat-dialog-content class="mat-typography">
    <form #caseForm="ngForm">
      <!-- Case ID -->
      <mat-form-field appearance="fill" class="case-id-dropdown">
        <mat-label>Incident Report Number</mat-label>
        <mat-select [(ngModel)]="report.reportNumber" name="incidentReportNumber" (selectionChange)="onReportNumberChange($event.value)" required>
          <mat-option *ngFor="let id of incidentReportNumbers" [value]="id">{{ id }}</mat-option>
        </mat-select>
        <mat-error *ngIf="!case.reportNumber">This field is required</mat-error>
      </mat-form-field>

    

      <!-- Start Date -->
      <mat-form-field appearance="fill">
        <mat-label for="start-date">Start Date</mat-label>
        <input matInput id="start-date" type="date" placeholder="Select start date" [(ngModel)]="report.startDate" name="startDate" [disabled]="isDisabled">
      </mat-form-field>

      <!-- Date Reported -->
      <mat-form-field appearance="fill">
        <mat-label for="date-reported">Date Reported</mat-label>
        <input matInput id="date-reported" type="date" placeholder="Select date reported" [(ngModel)]="report.dateReported" name="dateReported" [disabled]="isDisabled">
      </mat-form-field>

      <!-- Province -->
      <mat-form-field appearance="fill">
        <mat-label for="province">Province</mat-label>
        <input matInput id="province" [(ngModel)]="report.province" name="province" [disabled]="isDisabled">
      </mat-form-field>

      <!-- Case Type -->
      <mat-form-field appearance="fill">
        <mat-label for="case-type">Case Type</mat-label>
        <input matInput id="case-type" [(ngModel)]="report.caseType" name="caseType" [disabled]="isDisabled">
      </mat-form-field>

      <!-- Sub-Type -->
      <mat-form-field appearance="fill">
        <mat-label for="sub-type">Sub-Type</mat-label>
        <input matInput id="sub-type" [(ngModel)]="report.caseSubType" name="caseSubType" [disabled]="isDisabled">
      </mat-form-field>

      <!-- Channel -->
      <mat-form-field appearance="fill">
        <mat-label for="channel">Channel</mat-label>
        <input matInput id="channel" [(ngModel)]="report.channel" name="channel" [disabled]="isDisabled">
      </mat-form-field>

      <!-- Priority -->
      <mat-form-field appearance="fill">
        <mat-label for="priority">Priority</mat-label>
        <input matInput id="priority" [(ngModel)]="report.priority" name="priority" [disabled]="isDisabled">
      </mat-form-field>

      <!-- Status -->
      <mat-form-field appearance="fill">
        <mat-label for="status">Status</mat-label>
        <input matInput id="status" [(ngModel)]="report.status" name="status" [disabled]="isDisabled">
      </mat-form-field>

      <h2>Report Detection :</h2>

      <!-- Level Detected -->
      <mat-form-field appearance="fill">
        <mat-label for="level-detected">Level Detected</mat-label>
        <input matInput id="level-detected" [(ngModel)]="report.levelDetected" name="levelDetected" [disabled]="isDisabled">
      </mat-form-field>

      <!-- Division Detected -->
      <mat-form-field appearance="fill">
        <mat-label for="division-detected">Division Detected</mat-label>
        <input matInput id="division-detected" [(ngModel)]="report.divisionDetected" name="divisionDetected" [disabled]="isDisabled">
      </mat-form-field>

      <!-- Allocated Description -->
      <mat-form-field appearance="fill">
        <mat-label for="allocated-description">Allocated Description</mat-label>
        <input matInput id="allocated-description" [(ngModel)]="report.allocatedDescription" name="allocatedDescription" [disabled]="isDisabled">
      </mat-form-field>

    </form>
  </mat-dialog-content>
  <mat-dialog-actions class="close-btn">
    <button mat-button mat-dialog-close>Close</button>
    <button mat-button color="primary" cdkFocusInitial (click)="submitForm(caseForm)">Submit</button>
  </mat-dialog-actions>
</mat-card>

